@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
  text-decoration: none;
  text-align: center;
  z-index: 1;
}

body {
  background-image: url(img/background.webp);
}

/* main content */

.content {
  display: flex;
}

.objects {
  flex-direction: column;
  margin-left: 250px;
  margin-top: 150px;
}

h2 {
  font-size: 6em;
  line-height: 1.4em;
  font-weight: 700;
  text-align: right;
}

.button {
  display: flex;  
  float: right;
}

.button a {
  margin-top: 50px;
  padding: 20px 40px;
  background: #ffcccc;
  border-radius: 50px;
  font-size: 220%;
  font-weight: 400;
  box-shadow: 0 4px 4px 0 hsla(0, 0%, 0%, 0.15);
}

.button a:hover {
  transition: 0.4s ease;
  opacity: 70%;
}
